<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hos IPD</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/main.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <div class="app">
      <aside class="sidebar">
        <h2>Hos IPD</h2>

        <ul>
          <li>
            <a
              href="/main/admit"
              class="<%= body.includes('admit') ? 'active' : '' %>"
              >Admit</a
            >
          </li>
          <li><a href="/main/nurse">Nurse Station</a></li>
          <li><a href="/main/preadmit">Pre-Admit</a></li>

          <li>
            <a
              href="/main/doctor"
              class="<%= body.includes('doctor') ? 'active' : '' %>"
            >
              Doctor Station
            </a>
          </li>

          <li><a href="/main/food">อาหาร</a></li>
          <li><a href="/main/medicine">ยา</a></li>
          <li><a href="/main/admin">ระบบ Admin</a></li>
        </ul>
      </aside>

      <div class="content">
        <main class="page-body"><%- body %></main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
