<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <form action="/login" method="post">
        <!-- Logo -->
        <div class="logo">
          <img src="/image/logo.png" alt="logo" />
        </div>

        <!-- Error Message -->
        <div id="error-message"></div>

        <!-- Username -->
        <div class="form-group">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="USERNAME"
          />
        </div>

        <!-- Password -->
        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="PASSWORD"
          />
        </div>

        <!-- Room Number -->
        <div class="form-group">
          <select name="room">
            <option value="034">034 : ห้องตรวจโรค 1</option>
            <option value="035">035 : ห้องตรวจโรค 2</option>
            <option value="036">036 : ห้องกายภาพบำบัด</option>
            <option value="037">037 : ห้องอายุรกรรม 1</option>
          </select>
        </div>

        <!-- Login Button -->
        <button type="submit">LOGIN</button>

        <div class="forgot">
          <a href="#" onclick="forgotPassword()">Forgot password?</a>
        </div>
      </form>
    </div>
  </body>

  <script>
    function forgotPassword() {
      alert("ติดต่อหา admin");
    }

    <% if (error) { %>
      const msg = "<%= error %>";
      document.getElementById("error-message").innerText = msg;
      document.getElementById("username").classList.add("error-input");
      document.getElementById("password").classList.add("error-input");
    <% } %>
  </script>
</html>
